<%= cell("decidim/announcement", t(".announcement"), callout_class: "warning") %>

<div class="card">

  <div class="card-divider">
    <h2 class="card-title">
      <%= t ".title" %>
      <% if allowed_to?(:create, :forbidden_keywords) %>
        <%= link_to t("actions.new", scope: "decidim.admin", name: t("forbidden_keyword.name", scope: "decidim.models").downcase), [:new, :forbidden_keyword], class: "button tiny button--title new" %>
      <% end %>
    </h2>
  </div>
  <div class="card-section">
    <% if collection.any? %>
      <div class="table-scroll">
        <table class="table-list forbidden_keywords">
          <thead>
          <tr>
            <th><%= t(".word") %></th>
            <th><%= t("forbidden_keyword.fields.created_at", scope: "decidim.models") %></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% collection.each do |word| %>
            <tr data-keyword-id="<%= word.id %>">
              <td><%= link_to_if allowed_to?(:update, :forbidden_keywords, word:), word.word, edit_forbidden_keyword_path(word) %></td>
              <td><%= l word.created_at, format: :long %></td>
              <td class="table-list__actions">
                <% if allowed_to?(:update, :forbidden_keywords, word: word) %>
                  <%= icon_link_to "pencil", edit_forbidden_keyword_path(word), t("actions.edit", scope: "decidim.admin"), class: "edit" %>
                <% end %>

                <% if allowed_to?(:destroy, :forbidden_keywords, word: word) %>
                  <%= icon_link_to "circle-x", forbidden_keyword_path(word), t("actions.destroy", scope: "decidim.admin"), method: :delete, data: { confirm: t(".confirm_delete") }, class: "action-icon--remove" %>
                <% end %>
              </td>
            </tr>
          <% end %>

          </tbody>
        </table>
        <%= paginate collection, theme: "decidim" %>
      </div>
    <% else %>
      <%= t(".empty") %>
    <% end %>
  </div>
</div>
